<div id="<%= dom_id texto %>">
  <div>
    <strong>Titulo:</strong>
    <%= texto.titulo %>
  </div>

  <div>
    <strong>Cuerpo:</strong>
    <%= texto.cuerpo %>
  </div>

  <div>
    <strong>Autor:</strong>
    <%= texto.autor %>
  </div>

</div>
