<% content_for :title, "Editing bicicletum" %>

<h1>Editing bicicletum</h1>

<%= render "form", bicicletum: @bicicletum %>

<br>

<div>
  <%= link_to "Show this bicicletum", @bicicletum %> |
  <%= link_to "Back to bicicleta", bicicleta_path %>
</div>
