<p style="color: green"><%= notice %></p>

<% content_for :title, "Bicicleta" %>

<h1>Bicicleta</h1>

<div id="bicicleta">
  <% @bicicleta.each do |bicicletum| %>
    <%= render bicicletum %>
    <p>
      <%= link_to "Show this bicicletum", bicicletum %>
    </p>
  <% end %>
</div>

<%= link_to "New bicicletum", new_bicicletum_path %>
